{{#if loggedIn}}
{{!-- To search for movies --}}
<div class="movie-card">
  <p>Movie Title</p>
  <p>{{user-rating}}</p>
  <img src="" alt="">
  <p>Description</p>
  <p>Extra Info</p>
</div>
{{else}}
<p>Login in to review movies</p>
<a href="./login.handlebars">Login or Signup</a>
{{/if}}