<div class="search-page">
    <div class="movie-card">
        <p>Movie Title</p>
        <p>type</p>
        <img src="" alt="">
        <p>Year</p>
        {{!-- Need to add link to img --}}
        <p>ID</p>
    </div>
</div>